<ul>
    {{#each tours}}
    {{! я в новом блоке... и контекст изменился}}
        <li>
            {{name}} - {{price}}
            {{#if ../currencies}}
                ({{ ../currency.abbrev}})
            {{/if}}
        </li>
    {{/each}}
</ul>
{{#unless currencies}}
    <p>Все цены в {{currency.name}}</p>
{{/unless}}
{{#if specialsUrl}}
{{! я в новом блоке... но контекст вроде бы не изменился}}
    <p>Проверьте ваши <a href="{{specialsUrl}}">Специальное предложение</a></p>
{{else}}
    <p>Просьба чаще просматривать наше предложения</p>
{{/if}}
<p>
{{#each currencies}}
        <a href="#">{{.}}</a>
{{else}}
    <p>К сожалению в настоящие время мы поддерживаем только {{currency.name}}</p>
{{/each}}
</p>
